#button {
	
	border-color: red;
	border-radius: 15px;
	border-width: 2px;
	background-color: rgb(155, 194, 152) ;
	height:  50px;
	width: 150px;
	margin: 15px;
	box-shadow: 5 5 11px red;
	
}
#big {
	background-color: green;
	position: relative;
	height: 200px;
	width: 200px;
}
#smo {
	
	position: absolute;
	height: 50px;
	width: 50px;
	
	background: blue;
	border-radius: 50%;

}